.envelope-wrapper {
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

#envelope {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--env-border-width) * 2);
  height: calc(var(--env-border-height) * 2);
  margin: auto;
  z-index: 2;
  cursor: pointer;
}

#envelope .back,
#envelope .front {
  position: absolute;
  width: 0;
  height: 0;
  max-width: 100%;
}

#envelope .back {
  z-index: 1;
}

#envelope .front {
  z-index: 3;
}

#envelope .selo {
  position: absolute;
  z-index: 100;
  width: 90px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  opacity: 0.85;
}

#envelope .front.flap::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -125px);
  width: 332px;
  z-index: 10;
  border-top: 150px solid var(--color-flap);
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom-left-radius: 260px;
  border-bottom-right-radius: 260px;
}
#envelope .front.pocket::after {
  border-color: rgb(157, 163, 123);
  z-index: 100;
}

#envelope .front.flap {
  border-left: var(--env-border-width) solid transparent;
  border-right: var(--env-border-width) solid transparent;
  border-bottom: var(--env-border-height) solid transparent;
  border-top: var(--env-border-height) solid var(--color-flap);
  transform-origin: top;
  pointer-events: none;
}

#envelope .back.pocket {
  border-left: var(--env-border-width) solid var(--color-env);
  border-right: var(--env-border-width) solid var(--color-env);
  border-bottom: var(--env-border-height) solid var(--color-env);
  border-top: var(--env-border-height) solid var(--color-env);
  border-bottom-left-radius: var(--env-border-radius);
  border-bottom-right-radius: var(--env-border-radius);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#envelope .front.pocket {
  border-left: var(--env-border-width) solid var(--color-env);
  border-right: var(--env-border-width) solid var(--color-env);
  border-bottom: var(--env-border-height) solid var(--color-env2);
  border-top: var(--env-border-height) solid transparent;
  border-bottom-left-radius: var(--env-border-radius);
  border-bottom-right-radius: var(--env-border-radius);
  overflow: hidden;
}

#envelope.open {
  transform: translateY(calc(var(--env-height) / 4));
  transition: opacity 1s 1s, transform 1s 1s ease, z-index 0.6s 1s,
    visibility 0.8s 1s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
#envelope.open .selo {
  transform: translate(-50%, calc(-50% - 280px)) rotateY(180deg);
  transition: transform 0.3s ease, z-index 0.1s;
  z-index: 1;
}

#envelope.open .flap {
  transform: rotateX(180deg);
  transition: transform 0.3s ease, z-index 0.3s;
  z-index: 1;
}

#letter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9d9d9;
  width: calc(var(--env-width) / 2);
  margin-left: auto;
  margin-right: auto;
  height: calc(var(--env-height) / 2);
  border-radius: var(--env-border-radius);
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  z-index: 1;
}

#letter.close {
  transition: transform 0.4s ease, z-index 1s;
  z-index: 1;
}
#letter.close * {
  animation-play-state: paused;
  opacity: 0;
}

#letter.open {
  top: 50%;
  transition: width 1s 1.5s ease-in-out, top 0.4s 0.6s ease,
    height 1s 2s ease-in-out, z-index 0.6s 1s;
  z-index: 2;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
}

#letter.open * {
  animation-delay: var(--animation-delay-base);
  animation-play-state: running;
  opacity: 1;
  transition: opacity calc(var(--animation-delay-base) * 2.5) ease-in-out;
}
